/* 작성 페이지 전체 스타일 */
.eventsBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

/* 작성 페이지 폼 스타일 */
.formBox {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

/* 폼 일정 이름 스타일 */
.formTitle {
    display: flex;
    font-size: 34px;
    margin-bottom: 10px;
}
.formTitle label {
    display: flex;
}
.formTitle input {
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 폼 일정 내용 스타일 */
.formDescription {
    display: flex;
    justify-content: flex-end;
    font-size: 34px;
    margin-bottom: 10px;
}
.formDescription label {
    display: flex;
}
.formDescription textarea {
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
    height: 200px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 저장하기 버튼 스타일 */
.formButton {
    height: 40px;
    margin-top: 10px;
}

/* 에러 메시지 스타일 */
.errorMessage {
    color: red;
    text-align: center;
    font-size: 25px;
}