/* 내 일정 페이지 전체 스타일 */
.scheduleBox {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow-x: auto;
}

.title {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list {
    list-style: none;
}

/* 일정 리스트 전체 스타일 */
.scheduleContainer {
    display: flex;
    justify-content: space-between;
}

/* 일정 리스트 스타일 */
.scheduleList {
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(59, 130, 246, 0.5), rgba(168, 85, 247, 0.5));
    box-shadow: 0 0 20px #a855f7, 0 0 40px #3b82f6;
}

/* 일정 제목, 날짜 표기 박스 스타일 */
.scheduleTitleBox {
    display: flex;
    height: 35px;
    width: 600px;
    max-width: 100%;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

/* 일정 내용 박스 스타일 */
.scheduleDescriptionBox {
    display: flex;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.3s ease;
}
.scheduleDescriptionBox.show {
    max-height: 200px;
    opacity: 1;
}

/* 일정 내용 스타일 */
.description {
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
    font-size: 18px;
    width: 500px;
}

/* 일정 수정 버튼 스타일 */
.editButton {
    align-self: flex-end;
    width: 40px;
    height: 30px;
    margin: 5px;
    border: solid 1px #000;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px #bebebe, 0 0 10px #6d6d6d;
}

/* 일정 삭제 버튼 스타일 */
.deleteButton {
    align-self: flex-end;
    width: 40px;
    height: 30px;
    margin: 5px;
    border: solid 1px #000;
    background: rgba(255, 0, 102, 0.8);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px #ff3399, 0 0 10px #ff66cc;
}

/* 반응형 스타일 */
@media (max-width: 600px) {
  .scheduleTitleBox {
    width: 300px;
    font-size: 14px;
    padding: 10px;
  }

  .description {
    max-width: 200px;
  }
}